#tableau-dashboard {
  text-align: center;
  min-width: 350px;
  width: 90%;
  max-width: 650px;
  height: 700px;
  opacity: 1;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  margin-top: 10px;
}
